<!DOCTYPE html>
<html>
  <head>
    <title>Servicios</title>
    <!-- Agrega enlaces a los archivos de Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />

    <link rel="stylesheet" href="/css/perfil.css" />
  </head>
  <body>
    <!-- Menú de navegación de Bootstrap -->
    <%- include('header') %>

    <div class="container">
      <div class="profile-container">
        <div class="profile-left">
          <div class="profile-image">
            <img src="<%= profile.profileImage %>" alt="Imagen de perfil" />
          </div>
          <p class="profile-name"><%= profile.profileName %></p>
          <div class="social-icons">
            <a href="<%= profile.facebookLink %>">
              <i class="fab fa-facebook"></i>
            </a>
            <a href="<%= profile.twitterLink %>">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="<%= profile.instagramLink %>">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
        </div>
        <div class="profile-right">
          <div class="skills-container">
            <% profile.skills.forEach((skill, index) => { %>
              <div class="skill neon-<%= index + 1 %>"><%= skill %></div>
            <% }); %>
          </div>
        </div>
      </div>
      
    </div>
    <a class="btn btn-primary fixed-button" href="/">
      <i class="fas fa-chevron-left"></i> Volver al Inicio
    </a>
    <br><br>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  </body>
</html>
